#
# Icon made by Freepik from www.flaticon.com 
#
#
# Example mapping:
#
Left :: control + pgup
Right :: control + pgdn
Down :: down
Up :: up
Y :: control + w
X :: escape
B + RightShoulder :: control + add 
B + LeftShoulder :: control + subtract 
A + LeftShoulder :: control + c
A + RightShoulder :: control + v
RightShoulder :: lbutton
LeftShoulder :: mbutton
B :: rbutton
